{% extends "base.html.twig" %}

{% block title %}AppBundle:Reader:new{% endblock %}

{% block body %}
    <h1>Поздравляем вы зарегкстрировались ваш читательский билет ------- </h1>
    <a href="{{ path('homepage') }}" >Home page</a>

    {{ dump(data) }}
{% endblock %}