{% extends "base.html.twig" %}

{% block title %}AppBundle:Reader:new{% endblock %}

{% block body %}
<h1>Home page</h1>
    <a href="{{ path('registration') }}" >Registration</a>

<div style="margin-left: 10%; margin-right: 10px">
    {% for book in books %}
        <div style="width: 500px; height: 400px; display: inline-block">
        <img width="200" height="200" src="{{ book.image }}" >
        <p>{{ book.name }}</p>
        <p>{{ book.author }}</p>
        <a type="button" href="{{ path('application_create') }}">Получить</a>
        </div>

{% endfor %}
</div>
{% endblock %}
