{% extends "::base.html.twig" %}

{% block title %}AppBundle:Reader:create{% endblock %}

{% block body %}

<div style="width: 700px; margin-left: 19% " >
    <h1>Регистрация читательского билета</h1>
    {{ form(form) }}
</div>
{% endblock %}
