{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}

    <a class="btn btn-outline-primary"  href="{{ path('homepage') }}">Заметки</a>
    <a class="btn btn-outline-primary" href="{{ path('fos_user_security_logout') }}">Выход</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-outline-primary" href="{{ path('sonata_admin_redirect') }}" >Go to admin panale</a>
    {% endif %}
{% endblock fos_user_content %}