{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'),
        'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-outline-primary" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}

</div>

{% endblock fos_user_content %}
