{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}

    <div class="container">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div class="form-group">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" class="form-control" id="username"
                   name="_username" value="{{ last_username }}" required="required"
                   aria-describedby="emailHelp" placeholder="Enter email"/>
        </div>
        <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required"
                   class="form-control" placeholder="Password"/>
        </div>
        <input type="submit" id="_submit" name="_submit" class="btn btn-outline-primary"
               value="{{ 'security.login.submit'|trans }}" />
    </form>
    <a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
    </div>
{% endblock fos_user_content %}
